extends /layouts/default

block variables
  - var title = "acquaint.io";
  - var description = "acquaint.io";

block content
  div.c-app
    div.c-app__content
      h1.c-app__headline Acquaint.
      p.c-app__intro  Hi there! Please to meet you. Let us introduce you to the modern web and the next generation of unequivocally brilliant user experience.  
